*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: solid red;  */
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

nav li {
    border-style: outset;
    margin: 0.6em;
    list-style: none;

}

h1{
    text-align: center;
}




/* index-page */



.index-page {     
    background-image: image(sc);
    background-color: rgb(183, 238, 239);

}

.index-page h1 {
    color: rgb(37, 72, 197);
    font-size: 9em;     
            
    
}

.left {
    text-align:left; 
    position: static;
    margin-left: 3em; 
}
.right {
    text-align: right; 
    position: static;
    

    margin-right: 4em; 

}
 
.index-page h2 {
    color: rgb(100, 100, 100);
    font-size: 2.5em;  
    font-family: 'Arial', sans-serif;
    text-align: center; 
    margin: 0 5em; 
}






/* about-page */



.about-page button {
    font-size: 1.5em; 
    cursor: pointer; 
}
 






/* BOOKS PAGE */

.books-page main ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding-inline-start: 0px;
}

.books-page main ul div{ 
    display: flex;
    flex-direction: column;
    text-align: center; 
    flex: 1, 1, auto;
}

.books-page ul div li{
    align-self:center;
    border: none;
}


/* 
.books-page ul div:nth-child(odd){
    border: black thick
     
} */







/* FOOD PAGE */

.food-page main ul {
    display: grid; 
    grid-template-columns: 50% 50%;
    justify-content:center;



}

.food-page main ul li {
    list-style: none; 

}

.food-page img{
    border: 20px solid black;
    width: 85%; 

}





/* MOVIES PAGE */












/*PEOPLE PAGE */